<md-content>
  <section layout="column" layout-align="center center" layout-wrap>
    <h3 class="md-headline">Plans tonight?</h3>
    <h3 class="md-subhead">See which bars are hoppin' tonight and RSVP ahead of time!</h3>
    <form ng-submit="search()">
      <div layout>
        <md-input-container flex>
          <label>City name</label>
          <input ng-model="city">
        </md-input-container>
        <md-button type="submit"><md-icon>search</md-icon></md-button>
      </div>
    </form>
    <md-progress-circular ng-show="searching" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    <md-list layout-margin>
      <md-list-item class="result-item md-3-line" ng-repeat="business in businesses">
        <img ng-src="{{business.image_url || '../../assets/images/location_city.png'}}" class="md-avatar" alt="Image for {{business.name}}" />
        <div class="md-list-item-text">
          <h3>{{ business.name }}</h3>
          <h4>{{ business.attending.length || 'Nobody' }} attending</h4>
          <p>"{{ business.snippet_text }}"</p>
        </div>
        <md-button ng-click="attend(business)" class="md-fab md-mini" aria-label="I'm in">
          <md-icon>person_add</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </section>
</md-content>
<footer class="footer">
  <div class="container">
    FCC Nightlife |
    <a href="https://twitter.com/matteverson">@matteverson</a>
  </div>
</footer>
